{
    "extends": "airbnb",
    "globals": {
        "document": true,
        "it": true,
        "store": true,
        "describe": true,
        "expect": true
    },
    "rules": {
        "import/no-named-as-default": "off",
        "react/no-typos": "off",
        "react/jsx-filename-extension": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "no-multiple-empty-lines": [
            "error",
            {
            "max": 1,
            "maxEOF": 1
            }
        ]
    }
}


